* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group > label {
    display: block;
    width: 100px;
}

.group-inner {
    display: flex;
    flex-direction: column;
}
