* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #cb5a5e;
}

body {
    background: #323641;
}

.letter-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.letter-inner {
    position: absolute;
    width: 200px;
    height: 150px;
    transition: all 0.3s linear;
}

.letter-inner .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
}

.letter-inner .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 2;
}

.letter-inner .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cf4a43;
    z-index: 0;
}

.letter-inner .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
}

.letter-inner .letter {
    position: absolute;
    left: 20px;
    bottom: 0px;
    width: 160px;
    height: 60px;
    background: #fff;
    z-index: 1;
    overflow: hidden;
    transition: 0.4s 0.2s;
}

.letter-inner .letter .letter-border {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, var(--primary-color), var(--primary-color) 8px, transparent 8px, transparent 18px);
}

.letter-inner .letter .letter-title {
    margin-top: 10px;
    margin-left: 5px;
    width: 40%;
    height: 10px;
    background: var(--primary-color);
}

.letter-inner .letter .letter-context {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 20%;
    background: var(--primary-color);
}
.letter-inner .letter .letter-stamp {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background: var(--primary-color);
    opacity: 0.3;
}

.shadow {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    height: 30px;
    border-radius: 100%;
    transition: 0.4s;
    transform: translateX(-50%);
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.letter-container:hover .letter-inner {
    transform: translateY(50px);
}

.letter-container:hover .letter-inner .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    z-index: 0;
}

.letter-container:hover .letter-inner .letter {
    height: 180px;
}

.letter-container:hover .shadow {
    width: 250px;
}
