@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-inner {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.section-item {
    display: flex;
    margin-bottom: 35px;
}

.item-left {
    width: 45%;
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid #f1f1f1;
}

.item-left__heading {
    font-size: 2rem;
    font-family: "Space Grotesk", sans-serif;
}

.item-left__desc {
    margin: 10px 0;
    color: #7e7e7e;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
}

.item-left__btn {
    color: #7e7e7e;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 99px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.item-timeline {
    padding-left: 20px;
    position: relative;
}

.item-timeline::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2ccfb4;
    position: absolute;
    top: 0;
    left: -10px;
    border: 5px solid #f3f3f3;
}

.item-left:hover .item-left__btn {
    background: #9e6c58;
    color: #fff;
}

.section-image {
    position: relative;
}

.img-inner {
    width: 380px;
    position: relative;
}

.img-inner > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.img-overlay {
    position: absolute;
    top: 100px;
    left: 0;
    transform: translateX(-50%);
}

.img-overlay::before {
    content: "";
    background: #405aaf;
    inset: 10px;
    position: absolute;
}

.img-before {
    display: block;
    width: 250px;
    height: 400px;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    color: #f5f5f5;

    font-size: 24px;
    right: 0;
    bottom: 20px;
    text-align: right;
    padding: 0 30px 20px 0;
}

.overlay-text__number {
    font-size: 5rem;
}

.overlay-text__desc {
    display: block;
    font-size: 1.6rem;
}
